*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
.container {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#overlay{
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}
#list-div{
    position: relative;
    overflow-y: visible;
    padding: 20px;
    background-color: white;
    margin-top: 40px;
    border-style: solid;
    border-color: white;
    z-index: 2;
    border-radius: 5px;
}
.list-input{
    width: 320px;
    height: 47px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    overflow: auto;
    text-overflow: clip;
    resize: none;
}
.list-hr{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-image{
    vertical-align: middle;
    float: right;

}
.task-div{
    height: 47px;
    margin-top: 4px;
    position: inherit;
}
.task-content{
    position: inherit;
    width: 320px;
    height: 46px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    overflow: auto;
    text-overflow: clip;
}
.list-image-delete{
    vertical-align: middle;
    float: right;
    margin-top: -47px;
}